*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*main{
    width:400px;
    height: 500px;
    border: 2px solid black;
}*/

.calculator{
    max-width: 400px;
    margin: 0 auto;
    border: 7px solid palevioletred;
    padding-right: 60px;
    border-radius: 30px;
    padding-top: 15px;
    /* padding-bottom: 50px;
    padding-top: 20px;
   margin-top: 40px; */
}
.clay{
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-gap: 15px;
    padding: 10px;
}
main {
    margin-top: 6%;
    width: 100vw;
    height: 100vh;
}

.container{
    max-width: 250px;
    margin:  0 auto;
      
}
/* .clay{
   
    width: 400px;
    border: 3px solid palevioletred;
    padding: 20px;
    text-align:center;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    height: 500px;
    
} */
.button:hover{
    background-color: deeppink;
}
.button{
    border: 2px solid grey;
    color: black;
    border-radius: 40px;
    font-size: 2rem; 
    width: 50px;
   
}
.del{
    border: 2px solid grey;
    border-radius:40px ;
    width: 80px;
    height: 50px;
   
}
.del:hover{
    background-color: plum;
}
#screen{
    height: 90px;
   width: 300px;
   text-align: right;
   background-color:lightgrey;
   border-radius: 5px;
   color:black;
   font-family: 'Courier New', Courier, monospace;
   font-size: 2rem; 
   word-wrap: break-word; 
}
#equal{
    border: 2px solid grey;
    border-radius: 20px;
    height: 50px;
    font-size: 2rem;
    grid-column: 3/-1;
}
#equal:hover{
    background-color: grey;
}
@media screen and (max-width: 300px){
    .container{
        scale: 0.80;
    }
}
    
